$primary-color: white;
$bg: black;

* {
  margin: 0px;
  padding: 0;
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: $primary-color;
  background-color: transparent;
  color: white;
  flex-direction: column;
  align-content: center;
  font-size: 50px;
}


.docker-container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 20px;
  // background-color: #11c1e0;
}

.metrics-container {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  margin: 50px 20px;
  // border: 1px black solid;
}

.container {
  display: flex;
  border: 2px solid #819EF0;
  border-radius: 15px;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

.btns {
  display: flex;
}

.ea-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.header-container {
  margin-bottom: 20px;
  // border: 1px solid #4A73E8; 
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  background: linear-gradient(rgba(19, 119, 234, 0.964), lightblue);
}

.header-container img {
  margin-left: 20px;
  margin-right: 10px;
  height: 150px;
  width: 150px;
  background-color: transparent;
}

.header-component {
  background-color: transparent;
  // font-weight: 200;
  
}

//Quit Button
.header-component button {
  border-radius: 5px;
  padding: 0.8em 1.8em;
  border: 2px solid #252CB0;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #252CB0;
}

.header-component button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #252CB0;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.header-component button:hover::before {
  width: 105%;
}

.header-component button:hover {
  color: white;
  cursor: pointer;
}

.header-component button:active {
  filter: brightness(1.2);
}

.containers {
  display: flex;
  height: 100%;
  width: 100%;
}

//Toggle buttons
.form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: '';
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: '';
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}

.form-switch input {
  display: none;
}

.form-switch input:checked + i {
  // background-color: #4bd763;
  background-color: #4A73E8;
}

.form-switch input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
}