$primary-color: white;
$bg: black;

* {
  margin: 0px;
  padding: 0;
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: $primary-color;
  background-color: transparent;
  color: black;
  flex-direction: column;
  align-content: center;
  font-size: 2rem;
  font-weight: 400;
}

.docker-container {
  width: 30%;
  min-width: 550px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 30px;
}

.metrics-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.container {
  display: flex;
  border: 2px solid #819ef0;
  border-radius: 15px;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

.btns {
  display: flex;
}

.ea-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.header-container {
  margin-bottom: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  opacity: 0.95;
  height: 5rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
}

.header-right {
  margin-right: 4%;
}

.logo {
  max-height: 75px;
  max-width: 75px;
  background-color: transparent;
  margin-right: 25px;
}

.header-container img {
  margin-left: 20px;
  margin-right: 10px;
  height: 150px;
  width: 150px;
  background-color: transparent;
}

.header-component {
  background-color: transparent;
}

.inner-metrics-container {
  display: flex;
}

.left-metrics,
.right-metrics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//Log State Button
.header-component button {
  height: 100%;
  min-width: 155px;
  border-radius: 5px;
  padding: 0.8em 1.8em;
  border: 2px solid #4a73e8;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #252cb0;
  display: inline-flex;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.header-component button::before {
  content: '';
  width: 0;
  height: 400%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  // background: #252cb0;
  background: #4a73e8;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.header-component button:hover::before {
  width: 105%;
}

.header-component button:hover {
  color: white;
  cursor: pointer;
}

.header-component button:active {
  filter: brightness(1.2);
}

.containers {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  // background-color: yellow;
}

//Toggle buttons
.form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: '';
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: '';
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}

.form-switch input {
  display: none;
}

.form-switch input:checked + i {
  background-color: #4a73e8;
}

.form-switch input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
}

canvas {
  // border: red solid 1px;
  margin-bottom: 20px;
  margin-right: 60px;
}

.container-header {
  font-family: 'Raleway', sans-serif;
  color: #4a73e8;

  font-weight: 700;
}

select {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: medium;
  margin-left: 5px;
  border: 1.5px solid #6c85cb;
  overflow: hidden;
  background: transparent;
  appearance: none;
  padding: 1.5px 20px 1.5px 2px;
}

.customSelect {
  position: relative;
}

.customArrow {
  display: block;
  position: absolute;
  height: 100%;
  width: 1rem;
  top: 0;
  right: 0;
  background-color: transparent;
  pointer-events: none;
}

.customArrow::before,
.customArrow::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-75%, -50%);
}

.customArrow::before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #6c85cb;
}

select:hover {
  cursor: pointer;
}
